name: example
publish_to: none

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  json_annotation: ^4.0.0

dev_dependencies:
  build_runner: ^2.0.0

  # Used by tests. Not required to use `json_serializable`.
  build_verify: ^2.0.0

  json_serializable: ^4.0.0

  # Used by tests. Not required to use `json_serializable`.
  path: ^1.8.0
  # Used by tests. Not required to use `json_serializable`.
  test: ^1.16.0
