name: example
publish_to: none

environment:
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  json_annotation: ^4.4.0

dev_dependencies:
  # Used by tests. Not required to use `json_serializable`.
  _json_serial_shared_test:
    path: ../shared_test
  build_runner: ^2.0.0

  # Used by tests. Not required to use `json_serializable`.
  build_verify: ^3.0.0

  json_serializable:
    path: ../json_serializable

  # Used by tests. Not required to use `json_serializable`.
  path: ^1.8.0
  # Used by tests. Not required to use `json_serializable`.
  test: ^1.16.0
