name: example
publish_to: none

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  json_annotation: ^4.9.0

dev_dependencies:
  # Used by tests. Not required to use `json_serializable`.
  _json_serial_shared_test:
    path: ../shared_test

  # REQUIRED!
  build_runner: ^2.6.0

  # Used by tests. Not required to use `json_serializable`.
  build_verify: ^3.0.0

  # REQUIRED!
  safety_json_serializable: 
    path: ../json_serializable

  # Not required to use `json_serializable`.
  path: ^1.9.0
  test: ^1.25.9
