language: dart
sudo: false
dart:
  - dev
  - stable
  - 1.22.1
dart_task:
  - test
  - dartfmt
  - dartanalyzer
matrix:
  exclude:
    - dart: 1.22.1
      dart_task: dartfmt
    - dart: 1.22.1
      dart_task: dartanalyzer

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
  directories:
    - $HOME/.pub-cache
